@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;

}

p{
    font-size: 15px;
}

.container{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:fit-content;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 12px;
}


.qr-image{
    width: 100%;
    height: fit-content;
    border-radius: 12px;
    margin-bottom: 18px;
}

.qr-container>div h3 , .qr-container>div p{
    text-align: center;
    margin-bottom: 18px;
    padding: 4px;
}

.qr-container>div h3 {
    color:  hsl(218, 44%, 22%);
}

.qr-container>div p{
    color: hsl(212, 45%, 89%);
}